doctype html
html(ng-app="uvic")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    meta(name="apple-mobile-web-app-title" content="ALT")
    title UVIC
    link(rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/asset/css/font-awesome.min.css')
    link(rel='stylesheet' href='/asset/css/normalize.css')
    link(rel='stylesheet' href='/asset/css/index.css')
    link(rel='stylesheet' href='/asset/css/top-nav.css')
    link(rel='stylesheet' href='/asset/css/bottom-nav.css')
    link(rel='stylesheet' href='/asset/css/immigration-home.css')
    link(rel='stylesheet' href='/asset/css/student-visa.css')
    link(rel='stylesheet' href='/asset/css/education-home.css')
    link(rel='stylesheet' href='/asset/css/article-index.css')
    

       
    body
      .container
        header
          include navs/top-nav
        section#main
          div(ng-view)
        footer
          include navs/bottom-nav 
        include scripts
