.footer
  .container
    ul.list-inline.pull-left.info-tab
      li &#169; 2014 UVIC
      li
        a(href="#about") ABOUT US
      li
        a(href="#contact") CONTACT US
      li
        a(href="#contact") ENQUIRY
      li
        a(href="#contact") PRIVACY
      li
        a(href="#contact") TERMS AND CONDITIONS
      li
        a(href="#contact") JOIN US
    ul.list-inline.pull-right
      li Follow us on
      li
        img(src="../asset/img/wechat.jpg")
      li
        img(src="../asset/img/sina_socialmedia-icon.jpg")
