#aboutUs
	ul.list-inline.heading-tabs
		li
			span.icons
			a Visa Policy Articles
		li
			span.icons
			a About UK
		li
			span.icons
			a Life in the UK
		li
			span.icons
			a English Test
		li
			span.icons
			a Pre-departure
		li
			span.icons
			a Jobs &#38; Career
	.content
		.go-back
			span
				| << Back to Main Home
			ol.breadcrumb.pull-right
				li
					a About Us
				li
					a UVIC Introduction
		.sidebar.col-lg-3
			ul.nav.nav-stacked
	
				li.header.uvic
					span.icons
					a
						| About US

				li.active
					a
						| UVIC Introduction
				li
					a
						| Qualification
				li
					a
						| Collaboration
				li
					a
						| Media Press
				li
					a
						| UVIC Press
				li
					a
						| UVIC Event
		
		
		
		
		

		.about-us-article.col-lg-8
		
			.title
				h4.col-lg-12
					| UVIC Introduction
			
		
			.content-desc.col-lg-12
				p
					| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
				p
					| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
				p
					| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
				img(ng-src="../asset/img/call.png")
				p
					| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
				p
					| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
				p
					| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			
		
			.contact
				.col-lg-6
					a
						img(ng-src="../asset/img/call.png")
				.col-lg-6
					a
						img(ng-src="../asset/img/consultation.png")
		.clearfix
		hr.tabs-margin
		ul.list-inline.heading-tabs.bottom
			li
				span.icons
				a Education Articles
			li
				span.icons
				a About UK
			li
				span.icons
				a Life in the UK
			li
				span.icons
				a English Test
			li
				span.icons
				a Pre-departure
			li
				span.icons
				a Jobs &#38; Career

			




			







