#articleDetail
	ul.list-inline.heading-tabs
		li
			span.icons
			a Visa Policy Articles
		li
			span.icons
			a About UK
		li
			span.icons
			a Life in the UK
		li
			span.icons
			a English Test
		li
			span.icons
			a Pre-departure
		li
			span.icons
			a Jobs &#38; Career
	.go-back
		span
			| << Back to Immigration Center
		ol.breadcrumb.pull-right
			li
				a Visa policy articles
			li
				a Latest Policy
	.sidebar.col-lg-2
		ul.nav.nav-stacked
			li.header.visa
				span.icons
				a
					| Visa Policy
			li.active
				a
					| 1.Latest policy
			li
				a
					| 2.Student Visa
			li
				a
					| 3.Temporary Visa
			li
				a
					| 4.Immigration
			li
				a
					| 5.Work Visa
			li
				a
					| 6.Family reunion
			li
				a
					| 7.Citizenship
			li
				a
					| 8.FAQ
			li.header.success
				span.icons
				a 
					| Successful Cases
			li.header.testimonials
				span.icons
				a
					| Testimonials
			li.header.uvic
				span.icons
				a
					| Why UVIC?

			li
				a
					| 1.Certification
			li
				a
					| 2.How can we help?
			li.header.activities
				span.icons
				a
					| Activities

	.article.col-lg-8
		ul.paginate.list-inline.top
			li
				a
					| <i class="fa fa-chevron-left"></i> Previous Article Name
			li.pull-right
				a
					| Next Article Name <i class="fa fa-chevron-right"></i>
		.clearfix
		.title
			h4.col-lg-8
				| Article title, it can be very long?
			h4.date.col-lg-4
				| Date 01/02/2014
		
		.content.col-lg-12
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			img(ng-src="../asset/img/call.png")
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			img(ng-src="../asset/img/call.png")
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
			p
				| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
		.clearfix
		ul.paginate.list-inline
			li
				a
					| <i class="fa fa-chevron-left"></i> Previous Article Name
			li.pull-right
				a
					| Next Article Name <i class="fa fa-chevron-right"></i>
		.contact
			.col-lg-6
				a
					img(ng-src="../asset/img/call.png")
			.col-lg-6
				a
					img(ng-src="../asset/img/consultation.png")




			







