#educationHomepage
  ul.list-inline.heading-tabs
    li
      span.icons
      a Visa Policy Articles
    li
      span.icons
      a About UK
    li
      span.icons
      a Life in the UK
    li
      span.icons
      a English Test
    li
      span.icons
      a Pre-departure
    li
      span.icons
      a Jobs &#38; Career
  .banner
    
  .col-lg-10.col-lg-offset-1.search-info
    .tabbed-info
     h2
      | Search is coming soon!!!

  .col-lg-10.col-lg-offset-1.categories

    .col-lg-6.level
      h2 Level
      
      .data
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
   
    .col-lg-6.subject
      h2 Subject
      .data
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level

    .col-lg-6.articles
      h2 Recommended Articles
      .data
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
    .col-lg-6.success
      h2 Sucessful Cases
      .data
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
        ul
          li
            a
              | A level
          li
            a
              | A level
          li
            a
              | A level
 



 







