#immigrationHomepage
  ul.list-inline.heading-tabs
    li
      span.icons
      a Life in the UK
    li
      span.icons
      a English Test
    li
      span.icons
      a Pre-departure
    li
      span.icons
      a Jobs &#38; Career
  .banner
    h2 YOUR UK VISA MADE EASY.
 
  .categories.col-lg-12

    .student(ng-mouseenter="show = true" ng-mouseleave="show = false")
      h5
       | Student
      p(ng-show="show")
        | We need to get this live on the official site today,once you done it,please let me,then there will be a little.
        
        a
          | more...
    .family(ng-mouseenter="show1 = true" ng-mouseleave="show1 = false")
      h5
       | Family
      p(ng-show="show1")
        | We need to get this live on the official site today,once you done it,please let me,then there will be a little.
        
        a
          | more...
    .immigration(ng-mouseenter="show2 = true" ng-mouseleave="show2 = false")
      h5
       | Immigration
      p(ng-show="show2")
        | We need to get this live on the official site today,once you done it,please let me,then there will be a little.
        
        a
          | more...
    .eu(ng-mouseenter="show3 = true" ng-mouseleave="show3 = false")
      h5
       | EU
      p(ng-show="show3")
        | We need to get this live on the official site today,once you done it,please let me,then there will be a little.
        
        a
          | more...
    .work(ng-mouseenter="show4 = true" ng-mouseleave="show4 = false")
      h5
       | Work
      p(ng-show="show4")
        | We need to get this live on the official site today,once you done it,please let me,then there will be a little.
        
        a
          | more...
    .visiting(ng-mouseenter="show5 = true" ng-mouseleave="show5 = false")
      h5
       | Visiting

      p(ng-show="show5")
        | We need to get this live on the official site today,once you done it,please let me,then there will be a little.
        
        a
          | more...
          
  .customer-info

    .col-lg-6.testimonials

    
      .col-lg-6.textual
        h3
          span.icons
          | Testimonials
        h4
          span.icons
          | Mr Name
        p 
          | This total includes a booking/processing fee of 50p per person(total 1.00),which has been included in the ticket prices.
        h4
          span.icons
          | Mr Name
        p 
          | This total includes a booking/processing fee of 50p per person(total 1.00),which has been included in the ticket prices.

        a.more 
          | More >>
      .col-lg-6
          img(ng-src='asset/img/06.png')

    .col-lg-6.successful
      
      .col-lg-6.textual
        h3
          span.icons
          | Successful cases
        h4
          span.icons
          | Case title Line
        p 
          | Limited Time only!Register with western Union online and earn skype Credit for up to 60 minutes of calling* to keep in touch
        h4
          span.icons
          | Case Title Line
        p 
          | Limited Time only!Register with western Union online and earn skype Credit for up to 60 minutes of calling* to keep in touch

        a.more 
          | More >>
      .col-lg-6
          img(ng-src='asset/img/07.png')
  .clearfix
  .process-info
    .col-lg-4.faq
      .header
        span.icons
        | FAQs
        a.more.pull-right
          | More >>

      h4
        | Question 1
      p
        This total includes a booking/processing fee of 50p per person(total 1.00),which has been included in the ticket prices.

      h4
        | Question 1
      p
        This total includes a booking/processing fee of 50p per person(total 1.00),which has been included in the ticket prices.

    .col-lg-4.qa
      .header
        span.icons
        | Why UVIC?
        a.more.pull-right
          | More >>

      h4
        | How Can We help
      p
        Limited Time only!Register with western Union online and earn skype Credit for up to 60 minutes of calling* to keep in touch

      h4
        | Officialy Authorized Organisation
      p
        Limited Time only!Register with western Union online and earn skype Credit for up to 60 minutes of calling* to keep in touch

    .col-lg-4.policy
      .header
        span.icons
        | Latest Visa Policy
        a.more.pull-right
          | More >>

      p
        | 1. *Call Landlines and mobiles around the world from 2.3c a minute
      p
        | 2. The actual number of minutes you can redeeem  with this offer may very depending  on your calling  destination, the number of calls you make, and whether you call landline or mobile phones.
     
      p
        | 3. A $2.50 Skype credit voucher will be applied to your skype account.A connection fee applies, see the price list of our Pay per Minute rates.Skype is not  a replacement for your ordinary telephone and can't be  used for emergency calling.









