#homepage.home.check
  ul.list-inline.heading-tabs
    li.active
      span.icons
      a About UK
    li
      span.icons
      a Life in the UK
    li
      span.icons
      a English Test
    li
      span.icons
      a Pre-departure
    li
      span.icons
      a Jobs &#38; Career
  .banner
    .col-lg-6.education
      h2 YOUR FUTURE MATTERS.
      p UK Visa &#38; International Education Centre
    .col-lg-6.immigration
      h2 YOUR UK VISA MADE EASY.
      p UK Visa &#38; Immigration Centre
     
 