#homepage.home.check
  .banner
    .col-lg-6.education
      h2 YOUR FUTURE MATTERS.
      p UK Visa &#38; International Education Centre
    .col-lg-6.immigration
      h2 YOUR UK VISA MADE EASY.
      p UK Visa &#38; Immigration Centre
     
  .valuable-articles
    .col-lg-offset-3.col-lg-6
      p Find your valuable articles:
      ul.list-inline
        li
          a Life in the UK
        li
          a English Test
        li
          a Pre-departure
        li
          a Jobs &#38; Career
