#studentVisa
  h3  
   | Student Visas
  .col-lg-4.sidebar
    ul.nav.nav-stacked.nav-tabs
      li.header
        | Student Visitor Visa
      li.active
        a(href="#overview" data-toggle="tab")
          | 1.Overview
      li
        a(href="#eligibility" data-toggle="tab")
          | 2.Eligibility
      li
        a(href="#document" data-toggle="tab")
          | 3.Document You must provide
      li
        a(href="#apply" data-toggle="tab")
          | 4.Apply

      li
        a(href="#child" data-toggle="tab")
          | Tier 4 (child) student visa


      li
        a(href="#general" data-toggle="tab")
          | Tier 4 (General) student visa

  .col-lg-7
    .tab-content
      .tab-pane#overview.active
        h3
          | 1.Overview
        p
          | You can apply for a student visa if:
      .tab-pane#eligibility
        h3
          | 2.Eligibility
        p
          | You can apply for a student visa if:
      .tab-pane#document
        h3
          | 3.Documents you must provide
        p
          | You can apply for a student visa if:
      .tab-pane#apply
        h3
          | 4.Apply
        p
          | You can apply for a student visa if:
      .tab-pane#child
        h3
          | Tier 4 (child) student visa
        p
          | You can apply for a student visa if:
      .tab-pane#general
        h3
          | Tier 4 (General) student visa
        p
          | You can apply for a student visa if:







        
          

          
