#ukArticleIndex
	ul.list-inline.heading-tabs
		li
			span.icons
			a Education Articles
		li
			span.icons
			a About UK
		li.active
			span.icons
			a Life in the UK
		li
			span.icons
			a English Test
		li
			span.icons
			a Pre-departure
		li
			span.icons
			a Jobs &#38; Career
	.go-back
		span
			| << Back to Main Home
		ol.breadcrumb.pull-right
			li
				a Life in the UK
			li
				a Currency Conversion
	.sidebar.col-lg-2
		ul.nav.nav-stacked
			li.header.registration
				span.icons
				a
					| Entry Registration
			li
				a
					| 1.New Student
			li
				a
					| 2.Training & Meet Tutor
			li
				a
					| 3.Course Selection
			
			li.header.financial.active
				span.icons
				a 
					| Financial Planning
			li.active
				a
					| 1.Opening Account
			li
				a
					| 2.Currency Concversion
			li.header.accommodation
				span.icons
				a
					| Accommodation
			li
				a
					| 1.Food Bible
			li
				a
					| 2.Transportation Links
			li
				a
					| 3.Travel & Sightseeing
			li
				a 
					| 4.Shopping Queen
			li.header.uk-diary
				span.icons
				a
					| UK Diary

			li
				a
					| 1.How am I?
			li
				a
					| 2.How to hook up?
			li
				
				a
					| 3.Party & Fun
			li
				
				a
					| 4.Never Give up for trying

	.articles.col-lg-8
		.media
			.media-img.col-lg-2
				a.pull-left
					img(ng-src='../asset/img/banner.jpg')
			.media-body.col-lg-10
				.heading
					h4.col-lg-8
						| Article title, it can be very long?
					h4.date.col-lg-4
						| Date 01/02/2014
					p.content.col-lg-12
						| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
		.media
			.media-img.col-lg-2
				a.pull-left
					img(ng-src='../asset/img/banner.jpg')
			.media-body.col-lg-10
				.heading
					h4.col-lg-8
						| Article title, it can be very long?
					h4.date.col-lg-4
						| Date 01/02/2014
					p.content.col-lg-12
						| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
		.media
			.media-img.col-lg-2
				a.pull-left
					img(ng-src='../asset/img/banner.jpg')
			.media-body.col-lg-10
				.heading
					h4.col-lg-8
						| Article title, it can be very long?
					h4.date.col-lg-4
						| Date 01/02/2014
					p.content.col-lg-12
						| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
		.media
			.media-img.col-lg-2
				a.pull-left
					img(ng-src='../asset/img/banner.jpg')
			.media-body.col-lg-10
				.heading
					h4.col-lg-8
						| Article title, it can be very long?
					h4.date.col-lg-4
						| Date 01/02/2014
					p.content.col-lg-12
						| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
		.media
			.media-img.col-lg-2
				a.pull-left
					img(ng-src='../asset/img/banner.jpg')
			.media-body.col-lg-10
				.heading
					h4.col-lg-8
						| Article title, it can be very long?
					h4.date.col-lg-4
						| Date 01/02/2014
					p.content.col-lg-12
						| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this
		.media
			.media-img.col-lg-2
				a.pull-left
					img(ng-src='../asset/img/banner.jpg')
			.media-body.col-lg-10
				.heading
					h4.col-lg-8
						| Article title, it can be very long?
					h4.date.col-lg-4
						| Date 01/02/2014
					p.content.col-lg-12
						| For your information to help arbitate disputes and preserve trust and safety, we retain all messag buyers and sellers send through amazon.co.uk.This includes your response to your message below.For your protection we recommend that you only communicate with buyers and sellers using this

	ul.paginate.list-inline.col-lg-8.col-lg-offset-3
		li.active
			a
				| 1
		li
			a
				| 2
		li
			a
				| 3
		li
			a
				| 4
		li
			a 
				| 5
		li
			a
				| &raquo;
	.clearfix
	ul.list-inline.heading-tabs.bottom
		li
			span.icons
			a Education Articles
		li
			span.icons
			a About UK
		li.active
			span.icons
			a Life in the UK
		li
			span.icons
			a English Test
		li
			span.icons
			a Pre-departure
		li
			span.icons
			a Jobs &#38; Career

			







