#articleIndex
	.heading-tabs
		border:0
		height:40px
		width: 90%
		margin-left:7%
		

		li
			padding: 0
			margin: -2px
			width:15%
			text-align: center
			height:42px
			padding-top:10px


			&:nth-child(1)
				width:19%
				.icons
					background-image:url('../img/visa_policy_icon.png')
					height:22px
					width:30px
				a
					padding-right:5% !important 

			&:nth-child(3)
				.icons
					background-image:url('../img/lifeinuk.png')
					height:23px
					width:23px				

		

			&:nth-child(4)
				.icons
					background-position: 30% 0

			&:nth-child(5)
				.icons
					background-position: 63% 0
				a
					padding-right:5% !important
	
	
			&:last-child
				border-right:0
				width:17%
				.icons
					background-position: 100% 0

				a
					border-right:0 !important

			&.active,&:hover,&:focus
				background-image:url('../img/down_arrow.png')
				background-repeat:no-repeat	
				background-position:49% 1%

				&:nth-child(1)
					background-position:45% 4%

				&:nth-child(3)
					background-position:45% 7%

				a
					font-weight:800




			a
				color:#929497
				font-size:14pt
				line-height: 21px
				border-right:1px solid #929497
				padding-right:8%



				&:hover
					text-decoration: none
	
	.go-back
		font-size:12pt
		padding-top:10px
		padding-bottom:10px
		color:#929497
		margin-top:0
		margin-bottom:10px
		border-top:1px solid #929497
		border-bottom:1px dotted #929497
		margin-left:5%
		margin-right:5%
		.breadcrumb
			margin:0
			padding:0
			border-radius:0
			border:0
			background-color:transparent
			li
				a
					font-size:12pt
					color:#929497
					
					&:hover
						text-decoration:none

	.sidebar
		margin-left:5%
		height:700px

		&.col-lg-2
			width:20.4% 
		
		ul
			
			li
				margin:0
				border-top:1px dotted #929497
				
				
				font-size:16pt
				padding:0
				background-color:#f5f5f5
				height:30px


				a
					color:#929497
					padding:0
					padding-left:5%
					display:inline-block

					&:hover,&:focus
						background-color:#f5f5f5

				&:nth-child(2)
					border:0
				
				&.header
					background-color:#282561
					height:55px
					padding-top:10px
					border:0
					border-bottom:2px solid #fff


					.icons
						height:25px
						width:35px
						margin-left:5%
					
					&.visa
						.icons
							background-image:url("../img/icon5.png")
					&.success
						.icons
							background-image:url("../img/icon.png")
					&.testimonials
						.icons
							background-image:url("../img/icon2.png")
							height:28px
							
					&.uvic
						.icons
							background-image:url("../img/icon3.png")
							height:30px
							
					&.activities
						.icons
							background-image:url("../img/icon4.png")
							height:35px
							vertical-align:-30%
					
					a

						color:#fff
						font-size:16pt
						&:hover,&:focus
							background-color:#282561

				&.uvic
					+ li
							border:0


				&.active
					background-color:transparent

					a
						font-weight:800

						&:hover,&:focus
							background-color:transparent
	.articles
		margin-left:3%


		.media
			border-bottom:1px dotted #929497
			height:180px

			.media-img
				height:180px
				img
					width:96%
					height:160px

			.heading
				color:#929497
				h4
					margin-top:0
					font-size:20pt
					border-bottom:1px solid #929497

				p
					font-size:16pt
	.paginate
		margin-top:20px
		padding-left:3%
		
		li
			a
				padding-left:3px
				padding-right:3px
				font-size:12pt
				color:#929497

				&:hover,&:focus
					text-decoration:none

			&.active
				a
					background-color:#282561

