#articleDetail
	.heading-tabs
		border:0
		height:40px
		width: 960px
		margin-left:12%
		

		li
			padding: 0
			margin: -3px
			width:16%
			text-align: center
			
			height:42px
			padding-top:10px

			&:nth-child(1)
				width:20%
				.icons
					background-image:url('../img/visa_policy_icon.png')
					height:22px
					width:30px

				a
					padding-right:5% !important 

				
			&:nth-child(3)
				.icons
					background-image:url('../img/lifeinuk.png')
					height:23px
					width:23px		

		

			&:nth-child(4)
				.icons
					background-position: 30% 0

			&:nth-child(5)
				.icons
					background-position: 63% 0

				a
					padding-right:4% !important
	

			&:last-child
				border-right:0
				width:17%
				.icons
					background-position: 100% 0

				a
					border-right:0 !important

			&.active,&:hover,&:focus
				background-image:url('../img/down_arrow.png')
				background-repeat:no-repeat	
				background-position:49% 1%

				&:nth-child(1)
					background-position:45% 7%

				&:nth-child(3)
					background-position:45% 10%

				a
					font-weight:800



			a
				color:#929497
				font-size:12pt
				line-height: 21px
				border-right:1px solid #929497
				padding-right:8%



				&:hover
					text-decoration: none

	.content
		width:960px
		margin-left:12%
	
	.go-back
		font-size:12pt
		padding-top:10px
		padding-bottom:10px
		color:#929497
		margin-top:0
		margin-bottom:10px
		border-top:1px solid #929497
		border-bottom:1px dotted #929497
		margin-left:0
		margin-right:0
		.breadcrumb
			margin:0
			padding:0
			border-radius:0
			border:0
			background-color:transparent
			li
				a
					font-size:12pt
					color:#929497
					
					&:hover
						text-decoration:none

	.sidebar
		margin-left:0
		height:700px
		
		
		ul
			
			li
				margin:0
				border-top:1px dotted #929497
				
				
				font-size:14pt
				padding:0
				background-color:#f5f5f5
				height:30px


				a
					color:#929497
					padding:0
					padding-left:5%
					display:inline-block

					&:hover,&:focus
						background-color:#f5f5f5

				&:nth-child(2)
					border:0
				
				&.header
					background-color:#282561
					height:55px
					padding-top:12px
					border:0
					border-bottom:2px solid #fff

					.icons
						height:25px
						width:35px
						margin-left:5%
					
					&.visa
						.icons
							background-image:url("../img/icon5.png")
					&.success
						.icons
							background-image:url("../img/icon.png")
					&.testimonials
						.icons
							background-image:url("../img/icon2.png")
							height:28px
							
					&.uvic
						.icons
							background-image:url("../img/icon3.png")
							height:30px
							
					&.activities
						.icons
							background-image:url("../img/icon4.png")
							height:35px
							vertical-align:-30%
							




					a

						color:#fff
						font-size:14pt
						&:hover,&:focus
							background-color:#282561

				&.uvic
					+ li
							border:0


				&.active
					background-color:transparent

					a
						color:#282561
						font-weight:800
						&:hover,&:focus
							background-color:transparent
	.article
		margin-left:3%
		width:72%
		h4
			font-size:16pt
			border-bottom:1px solid #929497
			color:#282561
			font-weight:800
			&.date
				text-align:right

		img
			width:100%

		p
			font-size:11pt

		.paginate
			border-top:1px dotted #929497
			border-bottom:1px dotted #929497
			margin-top:10px
			margin-bottom:10px
			&.top
				margin-top:0
				border-top:0
			li

				a
					font-size:11pt
					color:#929497


					&:hover,&:focus
						text-decoration:none


		.contact
			img
				width:99%
