#educationHomepage .heading-tabs {
  border: 0;
  height: 40px;
  width: 960px;
  margin-left: 12%;
}
#educationHomepage .heading-tabs li {
  padding: 0;
  margin: -2px;
  width: 16%;
  text-align: center;
  height: 42px;
  padding-top: 10px;
}
#educationHomepage .heading-tabs li:nth-child(1) {
  width: 20%;
}
#educationHomepage .heading-tabs li:nth-child(1) .icons {
  background-image: url("../img/visa_policy_icon.png");
  height: 22px;
  width: 30px;
}
#educationHomepage .heading-tabs li:nth-child(1) a {
  padding-right: 5% !important;
}
#educationHomepage .heading-tabs li:nth-child(3) .icons {
  background-image: url("../img/lifeinuk.png");
  height: 23px;
  width: 23px;
}
#educationHomepage .heading-tabs li:nth-child(4) .icons {
  background-position: 30% 0;
}
#educationHomepage .heading-tabs li:nth-child(5) .icons {
  background-position: 63% 0;
}
#educationHomepage .heading-tabs li:nth-child(5) a {
  padding-right: 5% !important;
}
#educationHomepage .heading-tabs li:last-child {
  border-right: 0;
  width: 17%;
}
#educationHomepage .heading-tabs li:last-child .icons {
  background-position: 100% 0;
}
#educationHomepage .heading-tabs li:last-child a {
  border-right: 0 !important;
}
#educationHomepage .heading-tabs li.active,
#educationHomepage .heading-tabs li:hover,
#educationHomepage .heading-tabs li:focus {
  background-image: url("../img/down_arrow.png");
  background-repeat: no-repeat;
  background-position: 49% 1%;
}
#educationHomepage .heading-tabs li.active:nth-child(1),
#educationHomepage .heading-tabs li:hover:nth-child(1),
#educationHomepage .heading-tabs li:focus:nth-child(1) {
  background-position: 45% 4%;
}
#educationHomepage .heading-tabs li.active:nth-child(3),
#educationHomepage .heading-tabs li:hover:nth-child(3),
#educationHomepage .heading-tabs li:focus:nth-child(3) {
  background-position: 45% 7%;
}
#educationHomepage .heading-tabs li.active a,
#educationHomepage .heading-tabs li:hover a,
#educationHomepage .heading-tabs li:focus a {
  font-weight: 800;
}
#educationHomepage .heading-tabs li a {
  color: #929497;
  font-size: 12pt;
  line-height: 21px;
  border-right: 1px solid #929497;
  padding-right: 8%;
}
#educationHomepage .heading-tabs li a:hover {
  text-decoration: none;
}
#educationHomepage .banner {
  background: url("../img/banner.jpg") no-repeat;
  height: 350px;
  background-size: 100%;
}
#educationHomepage .content {
  width: 960px;
  margin-left: 12%;
}
#educationHomepage .search-info {
  background: url("../img/eduhome-04.jpg") no-repeat;
  height: 350px;
  background-size: 100%;
  margin-bottom: 25px;
}
#educationHomepage .search-info .tabbed-info {
  background-color: rgba(0,173,238,0.87);
  height: 350px;
}
#educationHomepage .search-info .tabbed-info h2 {
  margin-top: 0;
  color: #fff;
  text-align: center;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
#educationHomepage .categories {
  height: 702px;
  margin-bottom: -50px;
}
#educationHomepage .categories h2 {
  background-color: rgba(0,173,238,0.87);
  color: #fff;
  font-size: 25pt;
  font-weight: 800;
  height: 60px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4%;
}
#educationHomepage .categories .icons {
  background-image: url("../img/level.png");
  vertical-align: -8%;
  height: 29px;
  margin-right: 10px;
}
#educationHomepage .categories .data {
  background-color: rgba(0,173,238,0.87);
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
}
#educationHomepage .categories .data ul {
  float: left;
  margin-left: 7%;
  margin-top: 2%;
}
#educationHomepage .categories .data ul li a {
  color: #fff;
}
#educationHomepage .categories .data ul li a:hover,
#educationHomepage .categories .data ul li a:focus {
  text-decoration: none;
}
#educationHomepage .categories .level {
  background: url("../img/level.jpg") no-repeat;
  background-size: 100%;
  height: 351px;
  position: relative;
  width: 475px;
  margin-bottom: 2%;
}
#educationHomepage .categories .articles {
  background: url("../img/recommended_articles.jpg") no-repeat;
  background-size: 100%;
  height: 351px;
  position: relative;
  width: 475px;
}
#educationHomepage .categories .articles h2 {
  background-color: rgba(237,46,124,0.87);
}
#educationHomepage .categories .articles h2 .icons {
  background-image: url("../img/recommended_articles.png");
  vertical-align: -20%;
}
#educationHomepage .categories .articles .data {
  background-color: rgba(237,46,124,0.87);
}
#educationHomepage .categories .success {
  background: url("../img/success_cases.jpg") no-repeat;
  background-size: 100%;
  height: 351px;
  position: relative;
  width: 475px;
  margin-left: 2%;
}
#educationHomepage .categories .success h2 .icons {
  margin-right: 0;
  background-image: url("../img/icon.png");
}
#educationHomepage .categories .subject {
  background: url("../img/subject.jpg") no-repeat;
  background-size: 100%;
  height: 351px;
  position: relative;
  width: 475px;
  margin-left: 2%;
  margin-bottom: 2%;
}
#educationHomepage .categories .subject h2 {
  background-color: rgba(237,46,124,0.87);
}
#educationHomepage .categories .subject h2 .icons {
  background-image: url("../img/subject.png");
  height: 31px;
  margin-right: 0;
}
#educationHomepage .categories .subject .data {
  background-color: rgba(237,46,124,0.87);
}
