#immigrationHomepage


	
	.heading-tabs
		border:0
		height:22px
		width: 80%
		margin-left:15%
		margin-right:5%

		li
			padding: 0
			margin: 0
			width:20%
			text-align: center
			border-right:1px solid #929497
			height:21px


				

			&:nth-child(2)
				.icons
					background-position: 30% 0

			&:nth-child(3)
				.icons
					background-position: 63% 0
	

			&:last-child
				border-right:0
					
				.icons
					background-position: 100% 0



			a
				color:#929497
				font-size:14pt
				line-height: 21px



				&:hover
					text-decoration: none
 
	.banner
		background:url('../img/banner.jpg') no-repeat
		height:350px
		background-size:100%

		h2
			position: relative
			top: 45%
			transform: translateY(-45%)
			color:#fff
			text-align:center
			font-size:33pt
			font-weight:600
			text-shadow:0 0 5px rgba(0,0,0,1),9px 8px 30px rgba(0,0,0,0.5),-9px 8px 30px rgba(0,0,0,0.5),9px -8px 30px rgba(0,0,0,0.5),-9px -8px 30px rgba(0,0,0,0.5),9px 8px 50px rgba(0,0,0,0.3),-9px 8px 50px rgba(0,0,0,0.3),9px -8px 50px rgba(0,0,0,0.3),-9px -8px 50px rgba(0,0,0,0.3)

	

	.categories
		margin-top:10px
		margin-bottom:30px
		padding-left:10px
		padding-right:10px
		.student,.family,.immigration,.eu,.work,.visiting
			height:350px
			margin-left:20px
			width:15%
			float:left



		h5
			font-size:25pt
			background-color:rgba(40,37,97,0.87)
			color:#fff
			height:45px
			margin-top:0
			padding:5px 0 5px 10px

		p
			background-color:rgba(40,37,97,0.87)
			height:200px
			color:#fff
			bottom:10%
			position: absolute
			width:80%
			right:0
			font-size:13pt
			padding:5px

			a
				display:block
				margin-top:5px
				color:#fff
				font-size:13pt
		


		.student
			background:url('../img/student.jpg') no-repeat
			position:relative

		.family
			background:url('../img/family.jpg') no-repeat
			position:relative
			h5
				background-color:rgba(236,28,36,0.87)
			p
				background-color:rgba(236,28,36,0.87)

		.immigration
			background:url('../img/immigration.jpg') no-repeat
			position:relative
			
		.eu
			background:url('../img/eu.jpg') no-repeat
			position:relative
			h5
				background-color:rgba(236,28,36,0.87)
			p
				background-color:rgba(236,28,36,0.87)

		.work
			background:url('../img/work.jpg') no-repeat
			position:relative
			
		.visiting
			background:url('../img/visiting.jpg') no-repeat
			position:relative
			h5
				background-color:rgba(236,28,36,0.87)
			p
				background-color:rgba(236,28,36,0.87)


	.customer-info
		color:#262261

		img
			margin-top:45px
			margin-left:45px
      


		h3
			border-bottom:1px solid #282561
			padding-bottom:10px 
			font-size:18pt
			color:#262261

		p,a
			font-size:14pt
			color:#262261

		.testimonials
			padding-left:40px
			padding-right:40px
			border-right:1px solid #282561
			margin-bottom:30px
			.icons
				background-position:0 44%
				height:30px
				vertical-align:-26%


			h4
				text-transform:uppercase
				font-size:18pt
				color:#262261


				.icons
					background-position:30% 44%
				


		.successful
			padding-left:40px
			padding-right:40px
			margin-bottom:30px
			.icons
				background-position:0 70%
				height:30px
				vertical-align:-26%


			h4
				font-size:18pt

				.icons
					background-position:30% 69%
					

	.process-info
		padding-left:5%
		padding-right:5%
		height:400px


		.header
			font-size:18pt
			border-bottom:1px solid #fff
			color:#fff

		p,h4,a
			font-size:14pt
			color:#fff
		
		a
			padding-top:5px



		
		.faq,.policy
			border-bottom:1px solid #fff
			background-color:#282561
			width:32%
			padding-left:10px
			padding:30px
			height:600px
		
		.qa
			background-color:#ec1c24
			width:32%
			margin-left:2%
			margin-right:2%
			padding:30px
			height:600px

			
			
