#homepage .heading-tabs {
  border: 0;
  height: 40px;
  width: 960px;
  margin-left: 15%;
  padding: 0;
}
#homepage .heading-tabs li {
  padding: 0;
  margin: -3px;
  width: 20%;
  text-align: center;
  height: 42px;
  padding-top: 10px;
}
#homepage .heading-tabs li:nth-child(2) .icons {
  background-image: url("../img/lifeinuk.png");
  height: 23px;
  width: 23px;
}
#homepage .heading-tabs li:nth-child(3) .icons {
  background-position: 30% 0;
}
#homepage .heading-tabs li:nth-child(4) .icons {
  background-position: 60% 0;
}
#homepage .heading-tabs li:nth-child(5) .icons {
  background-position: 63% 0;
}
#homepage .heading-tabs li:last-child {
  border-right: 0;
}
#homepage .heading-tabs li:last-child .icons {
  background-position: 100% 0;
}
#homepage .heading-tabs li:last-child a {
  border-right: 0 !important;
}
#homepage .heading-tabs li.active,
#homepage .heading-tabs li:hover,
#homepage .heading-tabs li:focus {
  background-image: url("../img/down_arrow.png");
  background-repeat: no-repeat;
  background-position: 49% 1%;
}
#homepage .heading-tabs li.active:nth-child(2),
#homepage .heading-tabs li:hover:nth-child(2),
#homepage .heading-tabs li:focus:nth-child(2) {
  background-position: 45% 10%;
}
#homepage .heading-tabs li.active a,
#homepage .heading-tabs li:hover a,
#homepage .heading-tabs li:focus a {
  font-weight: 800;
}
#homepage .heading-tabs li a {
  color: #929497;
  font-size: 12pt;
  line-height: 21px;
  border-right: 1px solid #929497;
  padding-right: 15%;
}
#homepage .heading-tabs li a:hover {
  text-decoration: none;
}
#homepage .banner {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-size: 100%;
  color: #fff;
  text-align: center;
  height: 916px;
  margin-bottom: -60px;
}
#homepage .education {
  background-color: rgba(0,173,238,0.8);
  height: 100%;
}
#homepage .immigration {
  background-color: rgba(40,37,97,0.8);
  text-align: center;
  height: 100%;
}
#homepage h2 {
  margin: 0;
  font-weight: 600;
  font-size: 31pt;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
#homepage p {
  font-size: 16pt;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
