#homepage .banner {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-size: 100%;
  color: #fff;
  text-align: center;
  height: 916px;
}
#homepage .education {
  background-color: rgba(0,173,238,0.8);
  height: 100%;
}
#homepage .immigration {
  background-color: rgba(40,37,97,0.8);
  text-align: center;
  height: 100%;
}
#homepage h2 {
  margin: 0;
  font-weight: 600;
  font-size: 33pt;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
#homepage p {
  font-size: 18pt;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}
#homepage .valuable-articles {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}
#homepage .valuable-articles p {
  text-align: center;
  color: #6d6e70;
  font-size: 12pt;
}
#homepage .valuable-articles ul {
  border: 1px solid #000;
  border-radius: 10px;
  height: 22px;
  width: 100%;
}
#homepage .valuable-articles ul li {
  padding: 0;
  margin: 0;
  width: 24%;
  text-align: center;
  border-right: 1px solid #000;
  height: 21px;
}
#homepage .valuable-articles ul li:last-child {
  border-right: 0;
}
#homepage .valuable-articles ul li a {
  color: #6d6e70;
  font-size: 12pt;
  line-height: 21px;
}
#homepage .valuable-articles ul li a:hover {
  text-decoration: none;
}
