#homepage
	.heading-tabs
		border:0
		height:30px
		width: 90%
		margin-left:5%
		margin-right:5%
		

		li
			padding: 0
			margin: 0
			width:20%
			text-align: center
			border-right:1px solid #929497
			height:21px


			

			&:nth-child(3)
				.icons
					background-position: 30% 0


			&:nth-child(4)
				.icons
					background-position: 60% 0

			&:nth-child(5)
				.icons
					background-position: 63% 0
	

			&:last-child
				border-right:0
					
				.icons
					background-position: 100% 0

			&.active
				&:before
					content: "\f0d7"
					font-family: FontAwesome
					font-style: normal
					font-weight: normal
					text-decoration: inherit
					position:absolute
					top:86px
					left:14%
					font-size:24px
				a
					font-weight:800


			a
				color:#929497
				font-size:14pt
				line-height: 21px



				&:hover
					text-decoration: none
	.banner
		background:url('../img/header.jpg') no-repeat center center fixed
		background-size:100%
		color:#fff
		text-align:center
		height:916px
		margin-bottom:-60px
		
	.education
		background-color:rgba(0,173,238,0.8)
		height: 100%

	.immigration
		background-color:rgba(40,37,97,0.8)
		text-align:center
		height: 100%

		



	h2

		margin:0
		font-weight: 600
		font-size: 33pt
		position: relative
		top: 45%
		transform: translateY(-45%)

	p
		font-size: 18pt
		position: relative
		top: 45%
		transform: translateY(-45%)

	.valuable-articles
		margin-top: 20px
		margin-bottom:20px
		height: 80px

		p
			text-align:center
			color:#6D6E70
			font-size:12pt

		ul
			border:1px solid #000
			border-radius:10px
			height:22px
			width: 100%

			li
				padding: 0
				margin: 0
				width:24%
				text-align: center
				border-right:1px solid #000
				height:21px

				&:last-child
						border-right:0

				a
					color:#6D6E70
					font-size:12pt
					line-height: 21px

					&:hover
						text-decoration: none

					


	





