#homepage
	.banner
		background:url('../img/header.jpg') no-repeat center center fixed
		color:#fff
		text-align:center
		height:916px

	.education
		background-color:rgba(0,173,238,0.8)
		height: 100%

	.immigration
		background-color:rgba(40,37,97,0.8)
		text-align:center
		height: 100%

		



	h2

		margin:0
		font-weight: 600
		font-size: 33pt
		position: relative
		top: 45%
		transform: translateY(-45%)

	p
		font-size: 18pt
		position: relative
		top: 45%
		transform: translateY(-45%)

	.valuable-articles
		margin-top: 20px
		margin-bottom:20px
		height: 80px

		p
			text-align:center
			color:#6D6E70
			font-size:12pt

		ul
			border:1px solid #000
			border-radius:10px
			height:22px
			width: 100%

			li
				padding: 0
				margin: 0
				width:24%
				text-align: center
				border-right:1px solid #000
				height:21px

				&:last-child
						border-right:0

				a
					color:#6D6E70
					font-size:12pt
					line-height: 21px

					&:hover
						text-decoration: none

					


	





