#studentVisa .heading-tabs {
  border: 0;
  height: 40px;
  width: 960px;
  margin-bottom: 10px;
  margin-left: 12%;
}
#studentVisa .heading-tabs li {
  padding: 0;
  margin: -2px;
  width: 16%;
  text-align: center;
  height: 42px;
  padding-top: 10px;
}
#studentVisa .heading-tabs li:nth-child(1) {
  width: 20%;
}
#studentVisa .heading-tabs li:nth-child(1) .icons {
  background-image: url("../img/visa_policy_icon.png");
  height: 22px;
  width: 30px;
}
#studentVisa .heading-tabs li:nth-child(1) a {
  padding-right: 5% !important;
}
#studentVisa .heading-tabs li:nth-child(3) .icons {
  background-image: url("../img/lifeinuk.png");
  height: 23px;
  width: 23px;
}
#studentVisa .heading-tabs li:nth-child(4) .icons {
  background-position: 30% 0;
}
#studentVisa .heading-tabs li:nth-child(5) .icons {
  background-position: 63% 0;
}
#studentVisa .heading-tabs li:nth-child(5) a {
  padding-right: 5% !important;
}
#studentVisa .heading-tabs li:last-child {
  border-right: 0;
  width: 17%;
}
#studentVisa .heading-tabs li:last-child .icons {
  background-position: 100% 0;
}
#studentVisa .heading-tabs li:last-child a {
  border-right: 0 !important;
}
#studentVisa .heading-tabs li.active,
#studentVisa .heading-tabs li:hover,
#studentVisa .heading-tabs li:focus {
  background-image: url("../img/down_arrow.png");
  background-repeat: no-repeat;
  background-position: 49% 1%;
}
#studentVisa .heading-tabs li.active:nth-child(1),
#studentVisa .heading-tabs li:hover:nth-child(1),
#studentVisa .heading-tabs li:focus:nth-child(1) {
  background-position: 45% 4%;
}
#studentVisa .heading-tabs li.active:nth-child(3),
#studentVisa .heading-tabs li:hover:nth-child(3),
#studentVisa .heading-tabs li:focus:nth-child(3) {
  background-position: 45% 7%;
}
#studentVisa .heading-tabs li.active a,
#studentVisa .heading-tabs li:hover a,
#studentVisa .heading-tabs li:focus a {
  font-weight: 800;
}
#studentVisa .heading-tabs li a {
  color: #929497;
  font-size: 12pt;
  line-height: 21px;
  border-right: 1px solid #929497;
  padding-right: 8%;
}
#studentVisa .heading-tabs li a:hover {
  text-decoration: none;
}
#studentVisa h3 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 12pt;
  color: #262261;
  border-bottom: 1px solid #929497;
}
#studentVisa .content {
  width: 960px;
  margin-left: 12%;
}
#studentVisa .sidebar {
  min-height: 750px;
  border-top: 1px solid #929497;
}
#studentVisa .sidebar h3 {
  font-weight: 800;
}
#studentVisa .sidebar ul {
  border-bottom: 0;
}
#studentVisa .sidebar ul li {
  padding: 5px;
  padding-left: 10px;
  margin: 0;
}
#studentVisa .sidebar ul li.active {
  background-color: #262261;
  font-size: 12pt;
  margin: 0;
}
#studentVisa .sidebar ul li.active a {
  background-color: #262261;
  color: #fff;
}
#studentVisa .sidebar ul li.active a:hover,
#studentVisa .sidebar ul li.active a:focus {
  border: 0;
  outline: 0;
  background-color: #262261;
  border-radius: 0;
  padding: 5px;
  margin: 0;
}
#studentVisa .sidebar ul li.active .icons {
  display: inline-block;
  background-image: url("../img/tick.png");
  float: right;
  margin-top: 2%;
}
#studentVisa .sidebar ul li .icons {
  display: none;
}
#studentVisa .sidebar ul li a {
  font-size: 12pt;
  color: #929497;
  padding: 5px;
  margin: 0;
  border-radius: 0;
  outline: 0;
  border: 0;
  display: inline-block;
}
#studentVisa .sidebar ul li a:hover,
#studentVisa .sidebar ul li a:focus {
  border: 0;
  outline: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 5px;
  margin: 0;
}
#studentVisa .sidebar .categories-content {
  border-top: 2px solid #929497;
  padding-top: 5px;
}
#studentVisa .sidebar .categories-content h3 {
  background-color: #929497;
  color: #fff;
  padding-left: 12px;
  padding-top: 10px;
}
#studentVisa .sidebar .categories-content ul {
  padding-left: 12px;
  padding-right: 12px;
}
#studentVisa .sidebar .categories-content ul li {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #929497;
}
#studentVisa .sidebar .categories-content ul li.active {
  background-color: transparent;
}
#studentVisa .sidebar .categories-content ul li.active a {
  background-color: transparent;
  color: #262261;
}
#studentVisa .content-desc {
  width: 72%;
  padding-left: 2%;
  border-top: 1px solid #929497;
}
