#studentVisa
	
	.heading-tabs
		border:0
		height:40px
		width: 960px
		margin-bottom:10px
		margin-left:12%
		
		

		li
			padding: 0
			margin: -2px
			width:16%
			text-align: center
			height:42px
			padding-top:10px



			&:nth-child(1)
				width:20%
				.icons
					background-image:url('../img/visa_policy_icon.png')
					height:22px
					width:30px
				a
					padding-right:5% !important 

			&:nth-child(3)
				.icons
					background-image:url('../img/lifeinuk.png')
					height:23px
					width:23px

			&:nth-child(4)
				.icons
					background-position: 30% 0

			&:nth-child(5)
				.icons
					background-position: 63% 0
				a
					padding-right:5% !important
	
	

			&:last-child
				border-right:0
				width:17%
				.icons
					background-position: 100% 0

				a
					border-right:0 !important

			&.active,&:hover,&:focus
				background-image:url('../img/down_arrow.png')
				background-repeat:no-repeat	
				background-position:49% 1%

				&:nth-child(1)
					background-position:45% 4%

				&:nth-child(3)
					background-position:45% 7%

				a
					font-weight:800



			a
				color:#929497
				font-size:12pt
				line-height: 21px
				border-right:1px solid #929497
				padding-right:8%



				&:hover
					text-decoration: none
	h3
		margin-top:0
		padding-top:20px
		padding-bottom:10px
		font-size:12pt
		color:#262261
		border-bottom:1px solid #929497
		
	.content
		width:960px
		margin-left:12%
		

	.sidebar
		min-height:750px
		border-top:1px solid #929497

		h3
			font-weight:800


		ul
			
			
			border-bottom:0

			li
				padding:5px
				padding-left:10px
				margin:0
				&.active
					
					background-color:#262261
					font-size:12pt
					margin:0

					a
						background-color:#262261
						color:#fff
						&:hover,&:focus
							border:0
							outline:0
							background-color:#262261
							border-radius:0
							padding:5px
							margin:0
					.icons
						display:inline-block
						background-image:url('../img/tick.png')
						float:right
						margin-top:2%


				.icons
					display:none
				a
					font-size:12pt
					color:#929497
					padding:5px
					margin:0
					border-radius:0
					outline:0
					border:0
					display:inline-block
						

					&:hover,&:focus
						border:0
						outline:0
						background-color:transparent
						border-radius:0
						padding:5px
						margin:0

		.categories-content
			border-top:2px solid #929497
			padding-top:5px

			h3
				background-color:#929497
				color:#fff
				padding-left:12px
				padding-top:10px
			ul
				padding-left:12px
				padding-right:12px
				li
					padding-left:0
					padding-right:0
					border-bottom:1px solid #929497


					&.active
						background-color:transparent
					
						a
							background-color:transparent
							color:#262261
				

				
					
	.content-desc
		width:72%
		padding-left:2%
		border-top:1px solid #929497
