
.icons
	background-image: url("../img/icons.png")
	background-position: 0 0
	background-repeat: no-repeat
	width:40px
	display:inline-block
	height:20px
	vertical-align:-16%


.navbar
	height:100px
	background-color: #fff
	margin-bottom:0
	border:0


.navbar-brand
	position: absolute
	width: 100%
	height:100px
	left: 0
	text-align: center
	margin: auto

	.home-logo
		display:none


.navbar-nav
	& > li
				height:100px
				a
					font-size: 14pt
					padding-top: 40px
					padding-bottom:40px  
					color: #808184 !important



.side-icons
	list-style-type: none
	position: absolute
	top: 180px
	right:0
	z-index:1

	li
		background-color: #fff
		margin-bottom: 10px
		padding:5px
		height:40px
		width:45px
		text-align:center
		box-shadow: 0px 0px 5px 2px #929497
  

		.icons
			background-position:36% 97%
			width:30px
			height:29px

		&:first-child
			.icons
				background-position:-1% 100%




		

