#ukArticleDetail .heading-tabs {
  border: 0;
  height: 40px;
  width: 960px;
  margin-left: 12%;
}
#ukArticleDetail .heading-tabs.bottom {
  height: 50px;
  padding-top: 0;
  margin-left: 0;
  padding-left: 0;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: -70px;
}
#ukArticleDetail .heading-tabs li {
  padding: 0;
  margin: -3px;
  width: 16%;
  text-align: center;
  height: 42px;
  padding-top: 10px;
}
#ukArticleDetail .heading-tabs li:nth-child(1) {
  width: 20%;
}
#ukArticleDetail .heading-tabs li:nth-child(1) .icons {
  background-image: url("../img/visa_policy_icon.png");
  height: 22px;
  width: 30px;
}
#ukArticleDetail .heading-tabs li:nth-child(1) a {
  padding-right: 5% !important;
}
#ukArticleDetail .heading-tabs li:nth-child(3) .icons {
  background-image: url("../img/lifeinuk.png");
  height: 23px;
  width: 23px;
}
#ukArticleDetail .heading-tabs li:nth-child(4) .icons {
  background-position: 30% 0;
}
#ukArticleDetail .heading-tabs li:nth-child(5) .icons {
  background-position: 63% 0;
}
#ukArticleDetail .heading-tabs li:nth-child(5) a {
  padding-right: 4% !important;
}
#ukArticleDetail .heading-tabs li:last-child {
  border-right: 0;
  width: 17%;
}
#ukArticleDetail .heading-tabs li:last-child .icons {
  background-position: 100% 0;
}
#ukArticleDetail .heading-tabs li:last-child a {
  border-right: 0 !important;
}
#ukArticleDetail .heading-tabs li.active,
#ukArticleDetail .heading-tabs li:hover,
#ukArticleDetail .heading-tabs li:focus {
  background-image: url("../img/down_arrow.png");
  background-repeat: no-repeat;
  background-position: 49% 1%;
}
#ukArticleDetail .heading-tabs li.active:nth-child(1),
#ukArticleDetail .heading-tabs li:hover:nth-child(1),
#ukArticleDetail .heading-tabs li:focus:nth-child(1) {
  background-position: 45% 7%;
}
#ukArticleDetail .heading-tabs li.active:nth-child(3),
#ukArticleDetail .heading-tabs li:hover:nth-child(3),
#ukArticleDetail .heading-tabs li:focus:nth-child(3) {
  background-position: 45% 10%;
}
#ukArticleDetail .heading-tabs li.active a,
#ukArticleDetail .heading-tabs li:hover a,
#ukArticleDetail .heading-tabs li:focus a {
  font-weight: 800;
}
#ukArticleDetail .heading-tabs li a {
  color: #929497;
  font-size: 12pt;
  line-height: 21px;
  border-right: 1px solid #929497;
  padding-right: 8%;
}
#ukArticleDetail .heading-tabs li a:hover {
  text-decoration: none;
}
#ukArticleDetail .content {
  width: 960px;
  margin-left: 12%;
}
#ukArticleDetail .go-back {
  font-size: 12pt;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #929497;
  margin-top: 0;
  margin-bottom: 10px;
  border-top: 1px solid #929497;
  border-bottom: 1px dotted #929497;
  margin-left: 0;
  margin-right: 0;
}
#ukArticleDetail .go-back .breadcrumb {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
}
#ukArticleDetail .go-back .breadcrumb li a {
  font-size: 12pt;
  color: #929497;
}
#ukArticleDetail .go-back .breadcrumb li a:hover {
  text-decoration: none;
}
#ukArticleDetail .sidebar {
  margin-left: 0;
  height: 700px;
}
#ukArticleDetail .sidebar ul li {
  margin: 0;
  border-top: 1px dotted #929497;
  font-size: 14pt;
  padding: 0;
  background-color: #f5f5f5;
  height: 30px;
}
#ukArticleDetail .sidebar ul li a {
  color: #929497;
  padding: 0;
  padding-left: 5%;
  display: inline-block;
}
#ukArticleDetail .sidebar ul li a:hover,
#ukArticleDetail .sidebar ul li a:focus {
  background-color: #f5f5f5;
}
#ukArticleDetail .sidebar ul li:nth-child(2) {
  border: 0;
}
#ukArticleDetail .sidebar ul li.header {
  background-color: #929497;
  height: 55px;
  padding-top: 12px;
  border: 0;
}
#ukArticleDetail .sidebar ul li.header.active {
  background-color: #888;
}
#ukArticleDetail .sidebar ul li.header .icons {
  height: 25px;
  width: 35px;
  margin-left: 5%;
}
#ukArticleDetail .sidebar ul li.header.registration .icons {
  background-image: url("../img/entry_registration.png");
}
#ukArticleDetail .sidebar ul li.header.financial .icons {
  background-image: url("../img/financial_planning.png");
}
#ukArticleDetail .sidebar ul li.header.accommodation .icons {
  background-image: url("../img/accommodation.png");
  height: 28px;
}
#ukArticleDetail .sidebar ul li.header.uk-diary .icons {
  background-image: url("../img/uk_diary.png");
  height: 30px;
}
#ukArticleDetail .sidebar ul li.header a {
  color: #fff;
  font-size: 14pt;
}
#ukArticleDetail .sidebar ul li.header a:hover,
#ukArticleDetail .sidebar ul li.header a:focus {
  background-color: #929497;
}
#ukArticleDetail .sidebar ul li.active {
  background-color: transparent;
}
#ukArticleDetail .sidebar ul li.active a {
  font-weight: 800;
}
#ukArticleDetail .sidebar ul li.active a:hover,
#ukArticleDetail .sidebar ul li.active a:focus {
  background-color: transparent;
}
#ukArticleDetail .article {
  width: 72%;
  margin-left: 3%;
}
#ukArticleDetail .article h4 {
  font-size: 16pt;
  border-bottom: 1px solid #929497;
  color: #282561;
  font-weight: 800;
}
#ukArticleDetail .article h4.date {
  text-align: right;
}
#ukArticleDetail .article img {
  width: 100%;
}
#ukArticleDetail .article p {
  font-size: 11pt;
}
#ukArticleDetail .article .paginate {
  border-top: 1px dotted #929497;
  border-bottom: 1px dotted #929497;
  margin-top: 10px;
  margin-bottom: 10px;
}
#ukArticleDetail .article .paginate.top {
  margin-top: 0;
  border-top: 0;
}
#ukArticleDetail .article .paginate li a {
  font-size: 11pt;
  color: #929497;
}
#ukArticleDetail .article .paginate li a:hover,
#ukArticleDetail .article .paginate li a:focus {
  text-decoration: none;
}
#ukArticleDetail .article .contact img {
  width: 99%;
}
#ukArticleDetail .tabs-margin {
  margin-left: -9.3%;
  width: 120.7%;
  margin-bottom: 0;
  border-top: 1px solid #929497;
}
